@model PixelDrift.Models.User_login

@{
    ViewBag.Title = "Delete";
}

<body background="test.jpeg" ;>
    <div id="image">
    <h2>Delete Confirmation Page!!</h2>

    <h3>Are you sure you want to delete this?</h3>

    <div id="image">
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.User_Id)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.User_Id)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Password)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Password)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.First_Name)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.First_Name)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Last_Name)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Last_Name)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Email_ID)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Email_ID)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Role)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Role)
            </dd>

        </dl>

        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-actions no-color">
                <input type="submit" value="Delete" class="btn btn-default" /> |
                @Html.ActionLink("Back to List", "Index")
            </div>
        }
    </div>
</body>


<script>
#image {
        background: url('test.jpeg');
        background-size: contain;
    }</script>

